.wpforms-form input[type=submit], 
.wpforms-form button[type=submit] {

    $border-radius: 0.25em;
    $background-color: var(--blue-900);
    $background-color--hover: var(--orange-700);

    

    width: 100% !important;

    background-color: var(--blue-900) !important;
    border-radius: $border-radius !important;

    color: var(--white) !important;

    text-transform: uppercase !important;
    
    transition: background-color 0.25s !important;


    // HOVER Styles
    &:hover {

        background-color: $background-color--hover !important;

        transition: background-color 0.25s !important;
    }


    // FOCUS Styles
    &:focus {
        
    }
}