@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500&family=Montserrat:wght@400;500;600;700;800&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

:root{
    --base-font-size: 16px;

    --ff-catamaran: 'Catamaran', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    
    // Heading (h#)
    --fs-160: 10rem;
    --fs-48: 3rem;
    --fs-44: 2.75rem;
    --fs-40: 2.5rem;
    --fs-36: 2.25rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    
    // Body text
    --fs-20: 1.25rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;

    // font-weight
    --fw-xBold: 800;
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    
    // Colors - Primary
    --clr-primary-800: hsla(206, 91%, 8%);
    --clr-primary-500: hsla(206, 76%, 23%, 1);
    --clr-primary-100: hsla(206, 30%, 92%, 1);
    
    // Colors - Secondary
    --clr-secondary-700: hsla(36, 100%, 48%, 1);
    
    
    
    // NEW STYLES -- BELOW THIS LINE
    
    --nav-height: calc(var(--logo-width) * 0.875 - 1px);
    
    // Typographic Scale
    --step-0: clamp(1.00rem, calc(0.96rem + 0.19vw), 1.13rem);
    --step-1: clamp(1.13rem, calc(0.99rem + 0.56vw), 1.50rem);
    --step-2: clamp(1.27rem, calc(1.01rem + 1.10vw), 2.00rem);
    --step-3: clamp(1.42rem, calc(0.99rem + 1.86vw), 2.66rem);
    --step-4: clamp(1.60rem, calc(0.92rem + 2.93vw), 3.55rem);
    
    
    // Primary Colors
    --blue-900: hwb(203 0% 75%);
    --blue-300: hwb(203 0% 20%);
    --blue-50: hwb(204 89% 3%);
    
    --orange-500: hwb(40 0% 0%);
    --orange-400: hwb(40 20% 0%);
    --orange-700: hsla(36, 100%, 48%, 1);
    
    // Neutrals Colors
    --white: hwb(0 100% 0%);
    --grey-50: hwb(0 97% 3%);

    --black: hwb(0 0% 100%);

    // Images (logos, imgs, svg, etc.)
    --logo-width: clamp(6rem, 15vw, 7rem);

    /* Typography */
    
    // Heading
    --heading-color: var(--blue-900);
    --heading-line-height: var(--line-height--110);

    // Body
    --body-color--default: var(--black);
    --body-line-height: var(--line-height--140);


    // Links
    --link-color--default: var(--black);
    --link-color--hover: var(--orange-500);
    --link-color--visited: var(--blue-900);


    --ff-montserrat: 'Montserrat', sans-serif;

    // Wrappers
    --wrapper-padding: 1.5rem;
    --wrapper-width: 1200px;
}