section {
    position: relative;
    margin-block: 10rem;

    @media (max-width: 767px) {
        margin-block: 5rem;
    }
}

address {
    font-style: normal;
}

.grid-flow {
    display: grid;
    column-gap: 2rem;
    row-gap: 12rem;
}

@media (max-width: 767px) {
    
    address {
        text-align: center;
    }

    .grid-flow {
        display: grid;
        column-gap: 2rem;
        row-gap: 4rem;
    }
}