.btn {

    display: inline-block;
    $border-radius: 10rem;

    border: none;   
    border-radius: $border-radius;
    text-align: center;

    cursor: pointer;

    &--large a {
        display: inline-block;
        padding: 1rem 1.25rem;
        color: white;
        
    }

    &--orange {
        background-color: #F59300;
    }

    &:hover,
    &:focus {
        box-shadow: inset 0 0 4px 0 black;
    }
}